<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    <nav aria-label="Nuvarande plats">
      <ol class="breadcrumbs">
        <li>
          <a href="/hc/sv-se">Pihr SV</a>
        </li>
        <li>
          <a href="/hc/sv-se/categories/6860995800210-Pihr-Pay-Equality">Pihr Pay Equality</a>
        </li>
        <li>
          <a href="/hc/sv-se/sections/9489026960796-Videoutbildning">Videoutbildning</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="section-container">
    <section id="main-content" class="section-content">
      <section class="custom-page-section">
        <div class="video">
          <iframe class="video-iframe"
                  src="https://www.loom.com/embed/a51f8ce2d61d4a20bbab34f3d4611a02?sid=0b164e34-c51c-40e7-91a5-9614275082df"
                  frameborder="allowfullscreen"></iframe>
        </div>
        <div class="video">
          <iframe class="video-iframe"
                  src="https://www.loom.com/embed/b6edeffa20d14ff38121d3a0bb1ef104?sid=67dd358c-dea3-4665-9467-1c512af7cfef"
                  frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="video">
          <iframe class="video-iframe"
                  src="https://www.loom.com/embed/1aa0e91f636d4ed295ddfbd15ff2863a?sid=209a572a-996f-41f9-ad3b-29bd06d751ad"
                  frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <section class="category-content" style="margin-top: 25px;>
          <span class=" process-title
        ">Andra ämnen</span>
        <ul class="process-blocks-list">
          <li class="process-blocks-item">
            <a href="/hc/sv-se/sections/11399534423580-Steg-1-Datafil" class="section-blocks-item-link process-boxes">
              <span class="process-item-title"><span class="dot">1</span>Steg 1: Datafil</span>
              <svg class="process-item-title-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="">
                <path
                  d="M11.777 4.14414C11.9911 3.95195 12.1932 3.95195 12.3835 4.14414L19.8395 11.7117C20.0535 11.9039 20.0535 12.0961 19.8395 12.2883L12.3835 19.8559C12.1932 20.048 11.9911 20.048 11.777 19.8559L11.0635 19.1351C10.9922 19.0631 10.9565 18.967 10.9565 18.8468C10.9565 18.7267 10.9922 18.6186 11.0635 18.5225L16.5931 12.9369H4.42809C4.1427 12.9369 4 12.7928 4 12.5045V11.4955C4 11.2072 4.1427 11.0631 4.42809 11.0631H16.5931L11.0635 5.47748C10.8733 5.26126 10.8733 5.05706 11.0635 4.86486L11.777 4.14414Z"
                  fill=""></path>
              </svg>
            </a>
          </li>
          <li class="process-blocks-item">
            <a href="/hc/sv-se/sections/11399680090012-Steg-2-Analys-Diagram-Tabeller"
               class="section-blocks-item-link process-boxes">
              <span class="process-item-title"><span class="dot">2</span>Steg 2: Analys - Diagram &amp; Tabeller</span>
              <svg class="process-item-title-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="">
                <path
                  d="M11.777 4.14414C11.9911 3.95195 12.1932 3.95195 12.3835 4.14414L19.8395 11.7117C20.0535 11.9039 20.0535 12.0961 19.8395 12.2883L12.3835 19.8559C12.1932 20.048 11.9911 20.048 11.777 19.8559L11.0635 19.1351C10.9922 19.0631 10.9565 18.967 10.9565 18.8468C10.9565 18.7267 10.9922 18.6186 11.0635 18.5225L16.5931 12.9369H4.42809C4.1427 12.9369 4 12.7928 4 12.5045V11.4955C4 11.2072 4.1427 11.0631 4.42809 11.0631H16.5931L11.0635 5.47748C10.8733 5.26126 10.8733 5.05706 11.0635 4.86486L11.777 4.14414Z"
                  fill=""></path>
              </svg>
            </a>
          </li>
          <li class="process-blocks-item">
            <a href="/hc/sv-se/sections/11398978191388-Steg-3-Rapporter"
               class="section-blocks-item-link process-boxes">
              <span class="process-item-title"><span class="dot">3</span>Steg 3: Rapporter</span>
              <svg class="process-item-title-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="">
                <path
                  d="M11.777 4.14414C11.9911 3.95195 12.1932 3.95195 12.3835 4.14414L19.8395 11.7117C20.0535 11.9039 20.0535 12.0961 19.8395 12.2883L12.3835 19.8559C12.1932 20.048 11.9911 20.048 11.777 19.8559L11.0635 19.1351C10.9922 19.0631 10.9565 18.967 10.9565 18.8468C10.9565 18.7267 10.9922 18.6186 11.0635 18.5225L16.5931 12.9369H4.42809C4.1427 12.9369 4 12.7928 4 12.5045V11.4955C4 11.2072 4.1427 11.0631 4.42809 11.0631H16.5931L11.0635 5.47748C10.8733 5.26126 10.8733 5.05706 11.0635 4.86486L11.777 4.14414Z"
                  fill=""></path>
              </svg>
            </a>
          </li>
        </ul>
      </section>
    </section>
  </div>
</div>
<script>
  let mainText = document.getElementById('mainText')
  mainText.innerHTML = 'Videoutbildning'
  let helperText = document.getElementById('helperText')
  console.log(helperText.style)
  helperText.style.display = "none"
</script>